img {
  max-width: 100%;
  height: auto;
}
img.alignleft, img.alignright {
  padding: 3px;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 4px;
}
img.alignright {
  float: right;
  margin-left: 8px;
}
img.alignleft {
  float: left;
  margin-right: 8px;
}
