---
layout: none
---
<?xml version="1.0" encoding="UTF-8"?>{% capture src_url %}src=&quot;{{ site.url }}/{% endcapture %}{% capture href_url %}href=&quot;{{ site.url }}/{% endcapture %}
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name | xml_escape }}</title>
    <description>{% if site.description %}{{ site.description | xml_escape }}{% endif %}</description>    
    <link>{{ site.url }}</link>
    <atom:link href="{{ site.url }}/feed/" rel="self" type="application/rss+xml" />
    {% for post in site.posts %}
    <item>
      <title>{{ post.title | xml_escape }}</title>
      <description>{{ post.content | xml_escape | replace: 'src=&quot;/', src_url | replace: 'href=&quot;/', href_url }}</description>
      <pubDate>{{ post.date | date: "%a, %d %b %Y %H:%M:%S %z" }}</pubDate>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
    </item>
    {% endfor %}
  </channel>
</rss>