
    <header>
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="/">Anthony Smith</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="/about/">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact/">Contact</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/subscribe/">Subscribe</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://twitter.com/anthonyjsmith"><span class="fab fa-twitter fa-2x"></span></a>
              </li>
              <li class="dropdown nav-item">
                <a href="#" class="nav-link" data-toggle="dropdown" role="button" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false"><span class="fas fa-search fa-2x"></span></a>

                <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
                  <li class="dropdown-item">
                    <a>
                      <form role="search" method="get" action="https://duckduckgo.com/">
                        <input type="hidden" name="sites" value="www.anthonysmith.me.uk">
                        <div class="input-group">
                          <input name="q" type="search" class="form-control" placeholder="Search...">
                          <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Go!</button>
                          </span>
                        </div><!-- /input-group -->
                      </form>
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
