          <article>
            <!-- Post preview -->
            <div class="post-preview">
              <a href="{{ post.url }}">
                <header>
                  <h2 class="post-title">
                    {{ post.title | smartify }}
                  </h2>
                </header>
                <h3 class="post-subtitle">
                  {% if post.description %}{{ post.description | smartify }}{% else %}{{ post.content | markdownify | strip_html | truncate: 155 }}{% endif %}
                </h3>
              </a>
              <footer>
                <p class="post-meta">{% include postmeta.html post=post %}</p>
              </footer>
            </div>
          </article>
          <!-- Divider -->
          <hr class="my-4" />