
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p><img alt="Me" title="Me" src="/assets/me.jpg" align="left" style="padding-right:3px;"> I live in Bebington (Wirral, UK) and I <a href="http://www.enkaptic.co.uk/about/">work</a> in computer software. Christian (CofE), <a href="http://elinevanasperen.wordpress.com/">married</a>, <a href="/2011/09/13/why-would-a-christian-join-the-green-party/">green</a>, <a href="/singing/">singer</a> (classical, bass- baritone). <a href="/about/">More...</a></p>
          </div>
          <div class="sidebar-module">
            <h4>Archives</h4>
            <ul>
              {% for post in site.posts %}
              <li><a href="{{ post.url }}">{{ post.title }}</a></li>
              {% endfor %}
            </ul>
          </div>
        </div><!-- /.blog-sidebar -->
