
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p><img alt="Me" title="Me" src="/assets/me.jpg" align="left" style="padding-right:3px;"> I live in Bebington (Wirral, UK) and I <a href="http://www.enkaptic.co.uk/about/">work</a> in computer software. Christian (CofE), <a href="http://elinevanasperen.wordpress.com/">married</a>, <a href="/2011/09/13/why-would-a-christian-join-the-green-party/">green</a>, <a href="/singing/">singer</a> (classical, bass-baritone). <a href="/about/">More...</a></p>
          </div>
          <div class="sidebar-module">
            <!-- AddToAny BEGIN -->
            <a class="a2a_dd btn btn-primary" href="http://www.addtoany.com/subscribe?linkurl=http%3A%2F%2Fwww.anthonysmith.me.uk%2Ffeed%2F&amp;linkname=">Subscribe</a>
            <script type="text/javascript">
              var a2a_config = a2a_config || {};
              a2a_config.linkurl = "{{ site.url }}/feed/";
            </script>
            <script type="text/javascript" src="//static.addtoany.com/menu/feed.js"></script>
            <!-- AddToAny END -->
          </div>
          <div class="sidebar-module sidebar-module-search">
            <script>
              (function() {
                var cx = '018139633844611738119:w7crznnxh0s';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
              })();
            </script>
            <gcse:search></gcse:search>
          </div>          
          <div class="sidebar-module">
            <a class="twitter-timeline" href="https://twitter.com/anthonyjsmith" data-widget-id="434409884751110144">Tweets by @anthonyjsmith</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>