---
title: The sound of freedom
---
<p><a href="http://www.veritas.org/Media.aspx#/v/954">Wonderful talk</a> by <a href="http://www.divinity.duke.edu/portal_memberdata/jbegbie">Jeremy Begbie</a> on the topic of freedom and Christian faith.</p>
<p>We tend to think that if we allow God into our lives, in the way that the Christian message suggests that we should, then that will make less room for ourselves. That is, there is a certain amount of "space" in my life, and the more God enters that "space", the more I get shoved out. So to become a Christian is to diminish my freedom.</p>
<p>But this isn't the only way of looking at things. Drawing heavily on the analogy of music, Begbie presents a much more enriching and appealing perspective on how the presence of God in my life affects my own freedom.</p>
<p><a href="http://www.veritas.org/Campus/Recordings.aspx?cid=71">Have a listen for yourself...</a></p>
<p>The only slightly frustrating thing about the talk was that many of the musical extracts were not included in the recording. I've tried to find some of them:</p>
<p><a href="http://www.youtube.com/watch?v=iRP7OIj4MJw">Lever du jour from Daphnis et Chloé, Suite No. 2, by Maurice Ravel</a></p>
{% include youtube.html youtube_id="iRP7OIj4MJw" %}
<p><a href="http://www.youtube.com/watch?v=MFW7845XO3g">South African National Anthem</a></p>
{% include youtube.html youtube_id="MFW7845XO3g" %}
<p><a href="http://www.youtube.com/watch?v=UtJvtk6EHZE">Spem in Alium by Thomas Tallis</a></p>
{% include youtube.html youtube_id="UtJvtk6EHZE" %}
<p><a href="http://www.youtube.com/watch?v=VZtg6pKdtlM">J.S. Bach's Chaconne in D minor, arranged by Busoni (part 1)</a></p>
{% include youtube.html youtube_id="VZtg6pKdtlM" %}
<p><a href="http://www.youtube.com/watch?v=YVqZ7_V6RCc">J.S. Bach's Chaconne in D minor, arranged by Busoni (part 2)</a></p>
{% include youtube.html youtube_id="YVqZ7_V6RCc" %}
