---
title: The organ of St George's Hall, Liverpool
tags:
- Culture
---
<p>Liverpool is a great city for unleashing one's inner organ-geek. Two of the biggest and best pipe organs in the country are here. Liverpool Anglican Cathedral has <a href="http://www.liverpoolcathedral.org.uk/about/the-organ.aspx">the largest organ in the country</a> (10,268 pipes), and <a href="http://en.wikipedia.org/wiki/St_George's_Hall,_Liverpool#Organ_and_organists">the organ in St George's Hall</a> is the third largest (7737 pipes). Both were built by the legendary Liverpool organ builders <a href="http://en.wikipedia.org/wiki/Henry_Willis_%26_Sons">Henry Willis &amp; Sons</a>.</p>
<p>Both organs are played magnificently by City and Cathedral Organist, <a href="http://www.iantracey.com/">Ian Tracey</a>; I made my first visit to St George's Hall this lunchtime to hear him give a recital.</p>
<p><a href="http://www.dellarte.co.uk/henry-willis-organ/">Here he is</a>, introducing the St George's Hall organ in a video publicising <a href="http://www.dellarte.co.uk/st-georges-hall/">a series of concerts for organ and orchestra</a> taking place this year with <a href="http://www.dellarte.co.uk/">L'Orchestra dell'Arte</a>. For something like the full effect, turn the volume up <em>extremely</em> loud at the end!</p>
{% include youtube.html youtube_id="bb9KQa3MKws" %}
<p>And here he is again, introducing the organ, in a video also introducing <a href="http://www.willis-organs.com/">Henry Willis &amp; Sons</a>, who are still going strong:</p>
{% include youtube.html youtube_id="O7CnME0zH5M" %}
