<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include masthead.html %}

    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">{{ site.name }}</h1>
        <p class="lead blog-description">{{ site.description }}</p>
      </div>

      <div class="row">

        <div class="col-sm-8 blog-main">
{{ content }}

          <!-- AddToAny BEGIN -->
          <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
          <a class="a2a_dd" href="http://www.addtoany.com/share_save"></a>
          <a class="a2a_button_facebook"></a>
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_google_plus"></a>
          </div>
          <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
          <!-- AddToAny END -->

        </div><!-- /.blog-main -->

        {% include sidebar.html %}

      </div><!-- /.row -->

    </div><!-- /.container -->

    {% include footer.html %}
  </body>
</html>