---
layout: default
---
{% include page-header-open.html site_page_post='site' %}
                  <h1>{{ site.name }}</h1>
                  <span class="subheading">A CofE vicar's take on <a href="/tag/christianity/">Christianity</a> and <a href="/tag/culture/">culture</a></span>
                  <span class="subheading">(occasional technical posts on <a href="/tag/astronomy/">astronomy</a> and <a href="/tag/computing/">computing</a>)</span>
                  <span class="subheading">This man enjoys math (anag.)</span>
{% include page-header-close.html %}

    <!-- Main Content -->
    <main class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

{{ content }}

        </div>
      </div>
    </main>

    {% include footer.html %}
