<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>

  <body>
    {% include masthead.html %}

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <ul class="pager">
          </ul>

          <h2 class="blog-post-title">{{ page.title }}</h2>

          <div class="blog-post">
{{ content }}
          </div>

          <!-- AddToAny BEGIN -->
          <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
          <a class="a2a_dd" href="http://www.addtoany.com/share_save"></a>
          <a class="a2a_button_facebook"></a>
          <a class="a2a_button_twitter"></a>
          <a class="a2a_button_google_plus"></a>
          </div>
          <script type="text/javascript" src="//static.addtoany.com/menu/page.js"></script>
          <!-- AddToAny END -->

        </div><!-- /.blog-main -->

        {% include sidebar-recent.html %}

      </div><!-- /.row -->

    </div><!-- /.container -->

    {% include footer.html %}
  </body>
</html>
