---
layout: default
---
{% include page-header-open.html site_page_post='page' %}
                  <h1>{{ page.title | default: '' | smartify }}</h1>
{% include page-header-close.html %}

    <!-- Main Content -->
    <main class="container">
      <div class="row">
        <article class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <div class="post-content">

{{ content }}

          </div>

{% include addtoany.html %}

        </article>
      </div>
    </main>

    <hr>

    {% include footer.html %}
