---
layout: default
---
    <main>
      <article>
        <!-- Page Header -->
        <!-- Set your background image for this header on the line below. -->
        <div class="intro-header" style="background-image: url('/assets/bg.jpg')">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                  <header>
                    <h1>{{ page.title | smartify }}</h1>
                  </header>
                  <footer>
                    <span class="meta">{% include postmeta.html post=page %}</span>
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Post Content -->
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <div class="post-content">

{{ content }}

              </div>
            </div>
          </div>
        </div>
      </article>
    </main>

    <hr>

    {% include footer.html %}

    {% include disqus.html %}
