---
layout: default
---
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>{{ page.tag }}</h1>
              <hr class="small">
              <span class="subheading">{{ site.tags[page.tag] | size }} posts {{ page.subheading }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <main class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

{% assign posts=site.tags[page.tag] %}{% include posts.html posts=posts %}

        </div>
      </div>
    </main>

    <hr>

    {% include footer.html %}
