---
layout: default
---
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>Tag: {{ page.tag }}</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <main class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

          {% for post in site.tags[page.tag] %}
          <article>
            <div class="post-preview">
              <a href="{{ post.url }}">
                <header>
                  <h2 class="post-title">
                    {{ post.title | smartify }}
                  </h2>
                </header>
                <h3 class="post-subtitle">
                  {% if post.description %}{{ post.description | smartify }}{% else %}{{ post.content | markdownify | strip_html | truncate: 155 }}{% endif %}
                </h3>
              </a>
              <footer>
                <p class="post-meta">{% include postmeta.html post=post %} | <a href="{{ post.url }}#disqus_thread" data-disqus-identifier="{{ post.url }}">Comments</a></p>
              </footer>
            </div>
          </article>
          <hr>
          {% endfor %}

{% include addtoany.html %}

        </div>
      </div>
    </main>
