---
layout: default
---
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/assets/bg.jpg')">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="site-heading">
              <h1>{{ page.tag }}</h1>
              <hr class="small">
              <span class="subheading">{{ site.tags[page.tag] | size }} posts {{ site.data.tags[page.tag].subheading }}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <main class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

{% if page.page_number %}
  {% assign offset = page.page_number | minus:1 | times:100 %}
  {% if page.page_number > 1 %}
    {% assign previous_path = page.page_number | minus:1 | prepend:'/page/' | prepend:page.tag | prepend:'/tag/' | append: '/' | downcase | replace: 'page/1/', '' %}
  {% endif %}
  {% if page.page_number < site.data.tags[page.tag].pages %}
    {% assign limit = 100 %}
    {% assign next_path = page.page_number | plus:1 | prepend:'/page/' | prepend:page.tag | prepend:'/tag/' | append: '/' | downcase %}
  {% endif %}
{% endif %}
{% assign posts = site.tags[page.tag] %}
{% include posts.html posts=posts offset=offset limit=limit previous_path=previous_path next_path=next_path %}

        </div>
      </div>
    </main>

    <hr>

    {% include footer.html %}
